@model GrandfathersApiary.Feature.Navigation.Models.NavigationViewModel

<nav class="navbar bg-primary navbar-dark navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            @foreach (var item in Model.Items)
            {
                var activeClass = item.IsActive || item.Children.Any(x => x.IsActive) ? "active" : string.Empty;

                if (item.Children.Any())
                {
                    <li class="nav-item dropdown @activeClass">
                        <a class="nav-link dropdown-toggle" href="@item.Url" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @item.Title
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @foreach (var child in item.Children)
                            {
                                var fontStyle = child.IsActive ? "bold" : "normal";
                                <a class="dropdown-item" href="@child.Url" style="font-weight: @fontStyle">@child.Title</a>
                            }
                        </div>
                    </li>
                }
                else
                {
                    
                    <li class="nav-item @activeClass">
                        <a class="nav-link" href="@item.Url">@item.Title</a>
                    </li>
                }
            }
        </ul>
    </div>
</nav>